body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-image: url(images/background.jpg);
}

#left-column{
    width: 60%;
    float: left;
    background-color: whitesmoke;
}

img#logo{
    position: fixed;
    width: 150px;
    bottom: 20px;
    right: 10px;
}


